 .card-carousel-container {
  .card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .my-card {
      height: 20rem;
      width: 15rem;
      position: relative;
      z-index: 1;
      -webkit-transform: scale(0.6) translateY(-2rem);
      transform: scale(0.6) translateY(-2rem);
      opacity: 0;
      cursor: pointer;
      pointer-events: none;
      background: #fff;
      border-radius: 10px;
      transition: 0.5s;
      box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
      }

      &.active {
        height: 30rem;
        width: 35rem;
        z-index: 3;
        -webkit-transform: scale(1) translateY(0) translateX(0);
        transform: scale(1) translateY(0) translateX(0);
        opacity: 1;
        pointer-events: auto;
        transition: 0.5s;
        border-bottom: 7px solid gold;
        .card-image {
          width: 400px;
        }
      }

      &.prev, &.next {
        z-index: 2;
        -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
        transform: scale(0.8) translateY(-1rem) translateX(0);
        opacity: 0.6;
        pointer-events: auto;
        transition: 0.5s;
      }

      .card-image {
        width: 200px;
      }
      .card-name{
        font-size: 1.8rem;
      }
    }
  }

  .btn {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    &:hover{
        background: gold;
        color: #000;
    }
  }

 }
 