<div class="card-carousel-container">
    <div class="card-carousel">
        <ng-container *ngFor="let card of cards">
            <div class="my-card p-3" 
            [ngClass]="{'active': card.isActive, 'prev': card.direction === 'prev', 'next': card.direction === 'next'}">
                <div class="text-center">
                    <img class="card-image" src="assets/images/default_thumbnail.jpg">
                    <div class="card-name font-weight-bold">{{card.name}}</div>
                    <div *ngIf="card.isActive">Start Here ></div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="d-flex justify-content-around">
        <button [disabled]="activeIndex === 0" class="btn" (click)="move('prev')"><</button>
        <button [disabled]="activeIndex === (cards.length - 1)" class="btn" (click)="move('next')">></button>
    </div>
</div>